<html>
  <head>Pasal</head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <body>
    <form>
      <div>
        <label>surya: <span id="suryaPrice"></span></label>
        <input id="suryaPacket" type="text" value="8" />
        <input id="surya" type="text" value="14" />
      </div>
      
      <div>
        <label>shikhar: <span id="shikharPrice"></span></label>
        <input id="shikharPacket" type="text" value="8" />
        <input id="shikhar" type="text" value="2" />
      </div>
      
      <div>
        <label>pilot: <span id="pilotPrice"></span></label>
        <input id="pilotPacket" type="text" value="16" />
        <input id="pilot" type="text" value="1" />
      </div>
      
      <div>
        <label>captain: <span id="captainPrice"></span></label>
        <input id="captainPacket" type="text" value="13" />
        <input id="captain" type="text" value="12" />
      </div>
      
      <div>
        <label>cash separated:</label>
        <input id="cashSeparated" type="text" value="0" />
      </div>

      <input id="calculate" type="button" value="Calculate">

      <div>
        <label>total cash to be separated (today)</label>
        <input id="totalCashToBeSeparatedToday" type="text" value="0" readonly />
      </div>
    </form>

    <script src="../assets/jquery-3.3.1.slim.min.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>