@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500&display=swap');

body {
  font-size: 26px;
  /* line-height: 30px; */
  background: #000;
  color: #fff;
  font-family: 'Mukta', sans-serif;
}