body {
    font: 18px/26px Arial;
    padding-top: 70px;
}
h2 {
    font-size: 1.25em;
}
a {
    text-decoration: none;
}
.d-block {
    display: block !important;
}
.d-none {
    display: none !important;
}
.scroll-to-top {
    position: fixed;
    background-color: #000;
    padding: 3px 10px;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: #ffffff;
}
.section > div {
    display: none;
    white-space: break-spaces;
}

.section h2 {
    margin-top: 0;
    padding: 20px 0;
    font-weight: normal;
}
.section.text-found h2 {
    background: #ffff0026;
    font-weight: bold;
}
.section.active > div {
	display: block;
    /*margin-top: 70px;*/
}

.section.active h2 {
    position: fixed;
    top: 0;
    background: #000000;
    left: 0;
    color: #fff;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
}

body.has-active-section .section {
    display: none;
}

body.has-active-section .section.active {
    display: block;
}

/* folder love/ */
.highlight {
    font-weight: bold;
    background: yellow;
}