<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Quotes</title>

  <!-- <link rel="stylesheet" type="text/css" href="../books/note-style/note-style.css"> -->
  
  <link rel="stylesheet" type="text/css" href="css/note-style.css">

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> -->

  <!-- <script src="../books/maha-geeta/js/jquery-1.12.4.min.js"></script> -->

  <script src="js/jquery-1.12.4.min.js"></script>
  <script src="js/custom.js"></script>
</head>
<body>

<!-- <div id="demo"></div> -->

<a href="#" class="scroll-to-top">Top</a>

<div id="console" style="display: none;">
  <a href="../dist/Quotes.apk" class="button">APK</a>
</div>

<div style="padding: 12px;">
  <div id="source-list">
    <ul>
      <!-- <li>093</li> -->
    </ul>
  </div>
  <div id="quotes"></div>

  <!-- <div id="apiUrl" style="font-size: 7px;"></div> -->
</div>

<div class="footer-buttons">
  <button id="debug">Debug</button>
  <a href="https://onelink.to/kf3mtj" class="button">Live APK</a>
  <a href="./submit-quotes.html" class="button">Submit quotes</a>
  <button id="refetch">Refetch</button>
</div>

</body>
</html>
