<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Submit Quotes</title>
    <link rel="stylesheet" type="text/css" href="css/note-style.css">
  </head>
  <body>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfogOPpoKSZNDqTup70j_KJBlSXt1swZyrtXXaQNM89hbXtvw/viewform?embedded=true" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

    <div class="footer-buttons">
      <a href="./index.html" class="button">Back to Quotes</a>
      <!-- <a href="../dist/Quotes.apk" class="button">Download APK</a> -->
      <!-- <a href="./submit-quotes.html" class="button">Submit quotes</a> -->
      <!-- <button id="refetch">Refetch</button> -->
    </div>
  </body>
</html>